footer {
    height: 40px;
    background-color: #37bbed;
    align-self: flex-end;
    width: 100%;
}
.enlaces {
    width: auto;
    text-align: center;
    height: 30px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.enlaces a {
    text-decoration: none;
    color: white !important;
    margin-top: 20px;
    font-size: 20px !important;
    transition: all 300ms;
}
.zim, .webeno, .gde, .sgo {
    margin-left: 20px;
    margin-bottom: 0 !important;
}

.enlaces a:hover {
    color:grey !important;
}
